/*************
    GLOBAL
*************/

body {
    font-family: 'Proza Libre', sans-serif;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
}

ul {
    padding-left: 0;
}

.partialWrapper {
    text-align: center;
    margin-top: 61px;
}

.partialWrapper h1, p {
    font-weight: bold;
}

/*************
    NAVBAR
*************/

.navbar {
    background-color: #343536;
    border-color: #1e1f20;
    border-radius: 0%;
    box-shadow: 0 0 20px #888888;
    margin-bottom: 60px;
}

.navbar-default .navbar-nav>li>a {
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover {
    color: whitesmoke;
}

.navbar-default .navbar-nav>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav>li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.pointer {
    cursor: pointer;
}

/*************
    HOME
*************/

.titleName {
    margin-bottom: 0;
}

.headshot, .phone {
    border-radius: 10%;
}

.headshot {
    width: 256.68px;
    height: 385.02px;
}

.phone {
    width: 256.68px;
    height: 292.73px;
}

.githubLogo, .linkedinLogo {
    margin: 30px;
}

/*************
    ABOUT
*************/

.bio {
    margin: 0 50px;
}

.bio li {
    list-style-type: none;
    font-size: 1.5em;
    line-height: 1.8em;
}

.cohortImgDiv {
    margin-top: 32px;
}

.cohortImg {
    width: 611.55px;
    height: 267.5px;
}

.cohortCaption {
    margin-top: 10px;
    font-size: 1em; 
}

/*************
  PORTFOLIO
*************/

.portfolioWrapper p {
    margin: 16px 0;
    font-weight: bold;
    font-size: 1.4em;
}

.portfolioWrapper ul {
    text-align: center;
    margin-left: 8%;
}

.portfolioWrapper li {
    font-size: 1.1em;
    line-height: 1.8em;
    text-align: left;
    list-style-type: disc;
}

.portfolioBody {
    display: flex;
    flex-direction: row;
}

.portfolioImg {
    border: 1px solid #343536;
    display: inline-block;
    width: 65%;
    height: auto;
}

/*************
    MUSIC
*************/

.musicImg {
    width: 543.59px;
    height: 360.97px;
}


/*************
    CONTACT
*************/

/*.glyphicon {
    margin-right: 10px;
}*/

.userForm {
    display: flex;
    flex-direction: column;
}

.inner {
    margin: 10px auto;
}