/*************
    GLOBAL
*************/

h1 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
}

.body {
    text-align: center;
}

.body h1, p {
    font-family: 'Proza Libre', sans-serif;
    font-weight: bold;
}

/*************
    NAVBAR
*************/

.navbar {
    background-color: #343536;
    border-color: #1e1f20;
    border-radius: 0%;
    box-shadow: 0 0 20px #888888;
    margin-bottom: 60px;
}

.navbar-default .navbar-nav>li>a {
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover {
    color: whitesmoke;
}

.navbar-default .navbar-nav>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav>li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.pointer {
    cursor: pointer;
}

/*************
    HOME
*************/

.homeWrapper {
    margin-top: 80px;
}

.headshot {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.socialImgs {
    display: block;
}

.githubLogo, .linkedinLogo{
    margin: 30px;
}