<div ng-controller="HomeCtrl" class="partialWrapper">
    <div>
        <img src="/img/2017_04_29_EC4_0240_1.jpg" class="headshot">
    </div>
    <div>
        <h1 class="titleName">Alex Saber</h1>
        <p>Developer | Musician</p>
    </div>
    <div class="socialImgs">
        <a href="https://github.com/alexsaber89" target="_blank"><img src="../img/GitHub-Mark-64px.png" class="githubLogo"></a>
        <a href="https://www.linkedin.com/in/alex-saber" target="_blank"><img src="../img/In-Black-66px-R.png" class="linkedinLogo"></a>
    </div>
</div>