<nav ng-controller="NavCtrl" class="navbar navbar-default">
    <div class="container-fluid">
        <!--<a class="navbar-brand" href="#">Alex Saber | Developer</a>-->
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="showHome()">Home</a></li>
            <li><a ng-click="showAbout()">About</a></li>
            <li><a ng-click="showPortfolio()">Portfolio</a></li>
            <li><a ng-click="showMusic()">Music</a></li>
            <li><a ng-click="showContact()">Contact</a></li>
        </ul>
    </div>
</nav>