<nav ng-controller="NavCtrl" class="navbar navbar-default">
    <div class="container-fluid">
        <!--<a class="navbar-brand" href="#">Alex Saber | Developer</a>-->
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="showHome()" class="pointer">Home</a></li>
            <li><a ng-click="showAbout()" class="pointer">About</a></li>
            <li><a ng-click="showPortfolio()" class="pointer">Portfolio</a></li>
            <li><a ng-click="showMusic()" class="pointer">Music</a></li>
            <li><a ng-click="showContact()" class="pointer">Contact</a></li>
        </ul>
    </div>
</nav>