<div ng-controller="PortfolioCtrl" class="partialWrapper">
    <div>
        <h1>Portfolio</h1>
    </div>
    <div class="portfolioWrapper">
        <div>
            <a href="https://software-adoption-dashboard.firebaseapp.com" target="_blank"><h3>Software Adoption Dashboard</h3></a>
            <p>This project aims to solve a real-world business case I encountered with a previous employer, utilizing Angular Charts for data visualization.</p>
        </div>
        <div class="portfolioBody">
            <div>
                <ul>
                    <li>Tracks client companies where the user has pitched a new software offering</li>
                    <li>Tracks customer company’s email domain (i.e. “@bestbuy.com”)</li>
                    <li>Compares the companies the user has pitched to a constantly updating list of all Active Users of the software</li>
                    <li>As more people sign up, the user will get credit if the registrant works at a company the user pitched</li>
                    <li>Returns the number of Active Users, per company pitched</li>
                    <li>The user's performance is measured against an individual quota and other sales reps in the company</li>
                    <li>Future version of project will retrieve Active Users from a separate API</li>
                </ul>
            </div>
            <div>
                <a href="https://software-adoption-dashboard.firebaseapp.com" target="_blank"><img class="portfolioImg" src="..\img\SoftwareAdoptionDashboard - Dashboard.PNG" /></a>
            </div>
        </div>
    </div>
    <hr>
</div>